.idea/
.vscode/
*.iml
*.ipr
*.iws

target/

target/logs/
target/screenshots/
target/surefire-reports/
target/test-classes/

.m2/

.DS_Store
Thumbs.db

*.properties
.env

*.class
*.jar
*.war
*.ear

*.png
